[profile.default]
src = "src"
out = "out"
libs = ["lib"]
test = "test"
script = "script"

via_ir = true
optimizer = true
optimizer_runs = 200


solc_version = "0.8.24"

[fmt]
line_length = 100
tab_width = 4
bracket_spacing = true
int_types = "long"
multiline_func_header = "all"
quote_style = "double"


[lint]
lint_on_build = false

